<div class="col-md-2" id="labels">
  <%= render :partial 'labels' %>
</div>
<div class="col-md-3" id="memos">
  <%= render :partial 'memos' %>
</div>
<div class="col-md-6" id="content">
  <%= render :partial 'content' %>
</div>
<div class="col-md-1"></div>


